body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size: 50px;
}
.carbon {
    color: rgb(37, 37, 231);
}
.upper {
    width: 40%;
    margin-left: 3%;
    padding-left: 2%;
    float: left;
}
.upper img {
    width: 100%;
    margin: 5%;
}